
<html>
<head>
	<title>GrassBlock Statistics</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
  <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Ranchers" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Wendy+One" rel="stylesheet" type="text/css">
</head>

<body>
	<h1><span style="color:green">Grass</span>Block Statistics</h1>
  <section id="stats">
	  <table cellspacing="20" cellpadding="0" text-align="center">
    <%= @output %>
    </table>
	</section>
  <br />
  <section id="bottom">
    <p>To find out more about this project, visit our <a href="https://github.com/chase4926/StatTracker">GitHub repository</a>.</p>
  </section>
</body>
</html>
