
<html>
<head>
	<title>GrassBlock Statistics</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
  <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Ranchers" rel="stylesheet" type="text/css">
</head>

<body>
	<h1><span style="color:green">Grass</span>Block Statistics</h1>
  <section id="stats">
	  <table cellspacing="10" cellpadding="10" text-align="center">
    <%= @output %>
    </table>
	</section>
</body>
</html>
